<a href="https://colab.research.google.com/github/linamendezh7/EjerciciosBIT-LinaMendez/blob/DataScience/Actividad_5_Bases_relacionables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Actividad 5: Taller SQL (SQL Server)

In [ ]:
#Instala la libreria PyODBC
!pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.3.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (2.7 kB)
Downloading pyodbc-5.3.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (340 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 340.3/340.3 kB 6.4 MB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.3.0

In [ ]:
import pyodbc
import pandas as pd

In [ ]:
# Instalar dependencias y repositorio de Microsoft
!sudo su -c "curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -"
!sudo su -c "curl https://packages.microsoft.com/config/ubuntu/22.04/prod.list > /etc/apt/sources.list.d/mssql-release.list"
!sudo apt-get update
!sudo ACCEPT_EULA=Y apt-get install -y msodbcsql17 unixodbc-dev

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0Warning: apt-key is deprecated. Manage keyring files in trusted.gpg.d instead (see apt-key(8)).
100   975  100   975    0     0   8015      0 --:--:-- --:--:-- --:--:--  8057
OK
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    89  100    89    0     0   1030      0 --:--:-- --:--:-- --:--:--  1034
Hit:1 https://packages.microsoft.com/ubuntu/22.04/prod jammy InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 https://cli.github.com/packages stable InRelease
Hit:4 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:5 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:8 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: https://packages.microsoft.com/ubuntu/22.04/prod/dists/jammy/InRelease: Key is stored in legacy trusted.gpg keyring (/etc/apt/trusted.gpg), see the DEPRECATION section in apt-key(8) for details.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
unixodbc-dev is already the newest version (2.3.9-5ubuntu0.1).
msodbcsql17 is already the newest version (17.10.6.1-1).
0 upgraded, 0 newly installed, 0 to remove and 46 not upgraded.

In [ ]:
import pyodbc

# Parámetros de conexión
server = 'cdsc-bit.database.windows.net'
database = 'BDPruebasBIT'
username = 'Linamherrera'
password = 'Bit202507'
driver = '{ODBC Driver 17 for SQL Server}'
conn = pyodbc.connect(
    f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'
)
cur = conn.cursor()

In [ ]:
cur.execute("""
SELECT * FROM INFORMATION_SCHEMA.Tables
""")

for row in cur.fetchall():
  print(row)

('BDPruebasBIT', 'dbo', 'BuildVersion', 'BASE TABLE')
('BDPruebasBIT', 'dbo', 'ErrorLog', 'BASE TABLE')
('BDPruebasBIT', 'SalesLT', 'Address', 'BASE TABLE')
('BDPruebasBIT', 'SalesLT', 'CustomerAddress', 'BASE TABLE')
('BDPruebasBIT', 'SalesLT', 'SalesOrderDetail', 'BASE TABLE')
('BDPruebasBIT', 'SalesLT', 'SalesOrderHeader', 'BASE TABLE')
('BDPruebasBIT', 'sys', 'database_firewall_rules', 'VIEW')
('BDPruebasBIT', 'SalesLT', 'Customer', 'BASE TABLE')
('BDPruebasBIT', 'SalesLT', 'ProductModel', 'BASE TABLE')
('BDPruebasBIT', 'SalesLT', 'vProductModelCatalogDescription', 'VIEW')
('BDPruebasBIT', 'SalesLT', 'ProductDescription', 'BASE TABLE')
('BDPruebasBIT', 'SalesLT', 'Product', 'BASE TABLE')
('BDPruebasBIT', 'dbo', 'alumnos', 'BASE TABLE')
('BDPruebasBIT', 'SalesLT', 'ProductModelProductDescription', 'BASE TABLE')
('BDPruebasBIT', 'SalesLT', 'vProductAndDescription', 'VIEW')
('BDPruebasBIT', 'SalesLT', 'ProductCategory', 'BASE TABLE')
('BDPruebasBIT', 'SalesLT', 'vGetAllCategories', 'VIEW')

In [50]:
# @title
# Consulta todos los registros
cur.execute('SELECT * FROM SalesLT.CustomerAddress')
for row in cur.fetchall():
    print(row)

(29485, 1086, 'Main Office', '16765338-DBE4-4421-B5E9-3836B9278E63', datetime.datetime(2007, 9, 1, 0, 0))
(29486, 621, 'Main Office', '22B3E910-14AF-4ED5-8B4D-23BBE757414D', datetime.datetime(2005, 9, 1, 0, 0))
(29489, 1069, 'Main Office', 'A095C88B-D7E6-4178-A078-2ECA44214801', datetime.datetime(2005, 7, 1, 0, 0))
(29490, 887, 'Main Office', 'F12E1702-D897-4035-B614-0FE2C72168A9', datetime.datetime(2006, 9, 1, 0, 0))
(29492, 618, 'Main Office', '5B3B3EB2-3F43-47ED-A20C-23697DABF23B', datetime.datetime(2006, 12, 1, 0, 0))
(29494, 537, 'Main Office', '492D92B6-31AF-47EA-8E00-7C11C7CCC20D', datetime.datetime(2005, 9, 1, 0, 0))
(29496, 1072, 'Main Office', '0A66B0F3-24BC-4148-9661-26E935CEC99A', datetime.datetime(2007, 9, 1, 0, 0))
(29497, 889, 'Main Office', '7E0B56FD-7324-4898-BEDB-2F56A843BB0F', datetime.datetime(2005, 7, 1, 0, 0))
(29499, 527, 'Main Office', 'C90CB0C3-976A-4075-A2B9-13136F4F1A92', datetime.datetime(2006, 9, 1, 0, 0))
(29502, 893, 'Main Office', '8ACB1C6A-7CDF-417B-AFD5-9F4C642F3C7E', datetime.datetime(2007, 7, 1, 0, 0))
(29503, 32, 'Shipping', 'BE00FFC6-194B-44E9-A129-DFBEB8F1301F', datetime.datetime(2006, 8, 1, 0, 0))
(29503, 541, 'Main Office', '6811DBE3-1F02-440C-932E-A54F403B3E51', datetime.datetime(2006, 8, 1, 0, 0))
(29505, 1083, 'Main Office', '740A06AF-77F1-45CA-B284-38537324F86A', datetime.datetime(2007, 5, 1, 0, 0))
(29506, 1082, 'Main Office', 'DD51A14D-45F5-44E9-BF3B-260F0E08E545', datetime.datetime(2007, 8, 1, 0, 0))
(29508, 619, 'Main Office', '2DD326F6-02DA-44B7-96FB-B3A86067C5EE', datetime.datetime(2005, 12, 1, 0, 0))
(29510, 540, 'Main Office', 'AF6DCC27-DCCB-40DE-9445-3F4990AABD28', datetime.datetime(2005, 8, 1, 0, 0))
(29511, 1046, 'Main Office', '61CB8C51-7C96-4306-8050-56C90504972B', datetime.datetime(2005, 8, 1, 0, 0))
(29515, 504, 'Main Office', 'A5F1A232-3CCE-4149-9892-DE9895BC0F07', datetime.datetime(2005, 8, 1, 0, 0))
(29517, 794, 'Main Office', 'DB4D3044-7BF4-4D65-B48E-3FF927A842F0', datetime.datetime(2007, 8, 1, 0, 0))
(29521, 1054, 'Main Office', 'C0F708C3-9147-44C4-B6CB-FD5B765343C0', datetime.datetime(2005, 8, 1, 0, 0))
(29522, 1040, 'Main Office', '997006D9-674C-4153-86D0-2EFA7E1FEBF4', datetime.datetime(2005, 8, 1, 0, 0))
(29523, 593, 'Main Office', '15D1E8B0-E626-465C-A565-98500B56C077', datetime.datetime(2005, 8, 1, 0, 0))
(29524, 599, 'Main Office', '75724647-82A0-49C5-A841-F991BBAEBE18', datetime.datetime(2007, 8, 1, 0, 0))
(29525, 1049, 'Main Office', 'E1E5AF17-D958-4A88-B537-444F2BE24538', datetime.datetime(2005, 9, 1, 0, 0))
(29527, 512, 'Main Office', 'DECEF565-C5D1-4396-A45F-27C635833B31', datetime.datetime(2007, 9, 1, 0, 0))
(29528, 788, 'Main Office', '65C98567-6A79-44F0-BE71-264547362402', datetime.datetime(2006, 9, 1, 0, 0))
(29530, 495, 'Main Office', '2A12A463-DCA0-480F-83D6-AB58A43E1D24', datetime.datetime(2006, 9, 1, 0, 0))
(29531, 1061, 'Main Office', '14E08CFE-CF7E-4E76-A5FD-7624CAE2482E', datetime.datetime(2005, 12, 1, 0, 0))
(29532, 881, 'Main Office', '4AC4ECBE-4775-492A-8776-41237D7C6ABA', datetime.datetime(2006, 10, 1, 0, 0))
(29533, 801, 'Main Office', 'CD6229C0-A0FA-4A48-B4E1-D1C02437CAA8', datetime.datetime(2005, 7, 1, 0, 0))
(29535, 591, 'Main Office', '26821E31-0E0E-4D73-A494-34F630B636C4', datetime.datetime(2006, 9, 1, 0, 0))
(29536, 786, 'Main Office', 'EFA08457-C8D8-4DAF-A27F-BF6DFAF76863', datetime.datetime(2006, 12, 1, 0, 0))
(29539, 480, 'Main Office', '6F7DDA53-7B9D-4710-AEB9-20EA0EA5098B', datetime.datetime(2005, 8, 1, 0, 0))
(29541, 467, 'Main Office', '22B4D3BB-6AF2-4D40-8F84-10FAD8D5A74F', datetime.datetime(2005, 11, 1, 0, 0))
(29544, 519, 'Main Office', 'B1D3B3FA-E485-4F4C-B781-B4EFB273DEDC', datetime.datetime(2006, 8, 1, 0, 0))
(29545, 11, 'Shipping', '3D88495A-776E-414A-A91E-6D8979A35D86', datetime.datetime(2007, 4, 1, 0, 0))
(29545, 834, 'Main Office', '6E047F2B-6170-47BB-8D14-8A0702D1EB17', datetime.datetime(2007, 4, 1, 0, 0))
(29546, 635, 'Main Office', 'BFF85EBD-CCD0-4DAA-AFBB-B415EDF44265', datetime.datetime(2006, 9, 1, 0, 0))
(29548, 498, 'Main Office', '1419EA0F-F8EE-4D5B-9E5F-90FC3A9999CA', datetime.datetime(2005, 8, 1, 0, 0))
(29550, 853, 'Main Office', '68F33BFF-28C2-4ADF-A6F0-EF5ED52C0172', datetime.datetime(2007, 9, 1, 0, 0))
(29553, 581, 'Main Office', '6332EC14-CE8A-48AC-B1C2-476077E07952', datetime.datetime(2007, 9, 1, 0, 0))
(29554, 776, 'Main Office', '316172FC-BA5F-4A48-86E0-5213A7F59059', datetime.datetime(2005, 11, 1, 0, 0))
(29557, 513, 'Main Office', 'D3E8FA3E-72B0-4059-A99F-ED52F631E72C', datetime.datetime(2007, 9, 1, 0, 0))
(29558, 500, 'Main Office', 'C646937C-7B2B-4284-994C-11D7BF5E1F21', datetime.datetime(2005, 8, 1, 0, 0))
(29559, 185, 'Shipping', '4764266C-0FA0-4ADB-913F-013DA52D6353', datetime.datetime(2006, 9, 1, 0, 0))
(29559, 861, 'Main Office', '30233957-E9B2-4C10-9621-6704AD79D316', datetime.datetime(2006, 9, 1, 0, 0))
(29560, 1030, 'Main Office', '4012A207-360D-4189-833C-61B0EBE4E593', datetime.datetime(2006, 8, 1, 0, 0))
(29562, 1091, 'Main Office', '5A938E81-23B5-41F1-9F19-48AA09F5EB48', datetime.datetime(2005, 9, 1, 0, 0))
(29565, 1073, 'Main Office', 'ABBED10E-0CD0-4808-9465-D8DE63BB0B8D', datetime.datetime(2005, 7, 1, 0, 0))
(29566, 810, 'Main Office', '81390AF7-D4D0-4F4D-AF42-AB21F5713F14', datetime.datetime(2005, 7, 1, 0, 0))
(29567, 448, 'Main Office', '4F5A655A-1259-4F7E-95F6-CD18CA6B9A01', datetime.datetime(2007, 8, 1, 0, 0))
(29568, 993, 'Main Office', 'DCEC97AC-FC1A-4FAC-9DD5-B7CAB0625D77', datetime.datetime(2006, 9, 1, 0, 0))
(29569, 562, 'Main Office', '1F8372C3-2AE5-478B-90D2-618E6C5B28F5', datetime.datetime(2005, 8, 1, 0, 0))
(29570, 592, 'Main Office', 'FFF86E21-3F2F-4DEE-A66F-E750ACEB288C', datetime.datetime(2005, 7, 1, 0, 0))
(29571, 864, 'Main Office', '0051C719-AEEC-46F0-8430-562D074BE9E9', datetime.datetime(2005, 8, 1, 0, 0))
(29573, 1016, 'Main Office', 'BE9052DE-38C3-4055-88C4-D1CBF9E4A7F2', datetime.datetime(2006, 9, 1, 0, 0))
(29574, 577, 'Main Office', '44D2BD82-E3B9-4390-B645-8F03E8F53237', datetime.datetime(2006, 9, 1, 0, 0))
(29576, 514, 'Main Office', 'F0D0449B-B4B5-4BEE-AE9E-DDA391E1971A', datetime.datetime(2006, 9, 1, 0, 0))
(29577, 471, 'Main Office', '79195F71-4929-4C90-BE50-D9DFD1767268', datetime.datetime(2005, 9, 1, 0, 0))
(29579, 1012, 'Main Office', '1D926304-E5CD-401C-B40A-C68C9CA545C8', datetime.datetime(2006, 9, 1, 0, 0))
(29580, 849, 'Main Office', '2548C6C5-6E73-472A-A5C8-7BC82D223038', datetime.datetime(2005, 7, 1, 0, 0))
(29582, 848, 'Main Office', '8E96ECCF-87C9-4123-9658-82807BF5CC39', datetime.datetime(2005, 8, 1, 0, 0))
(29583, 576, 'Main Office', '12FDB97E-8664-4A38-8B9D-E7A5D48D3E6B', datetime.datetime(2005, 11, 1, 0, 0))
(29584, 1014, 'Main Office', '27F155C4-618E-41E0-B843-6887C0B1FD95', datetime.datetime(2006, 9, 1, 0, 0))
(29585, 841, 'Main Office', '85C76950-0A27-4B55-8C4D-4673172D5AC1', datetime.datetime(2005, 11, 1, 0, 0))
(29587, 664, 'Main Office', 'BE7DA2A1-7558-4566-84D7-90F67DC24375', datetime.datetime(2006, 7, 1, 0, 0))
(29588, 890, 'Main Office', 'AA005E64-2103-433D-AC7E-886222396936', datetime.datetime(2005, 11, 1, 0, 0))
(29590, 789, 'Main Office', 'B6AA96AC-8470-4683-923C-6D8C00A023DC', datetime.datetime(2006, 8, 1, 0, 0))
(29591, 584, 'Main Office', '20668D7D-B2DA-43DD-83DB-4F02A269924B', datetime.datetime(2007, 7, 1, 0, 0))
(29593, 585, 'Main Office', '0B887414-135A-43F6-94DC-60A220362C6D', datetime.datetime(2006, 8, 1, 0, 0))
(29596, 458, 'Main Office', 'F304C494-8B65-41A7-A144-853FF6DCF91C', datetime.datetime(2005, 7, 1, 0, 0))
(29598, 1000, 'Main Office', '36D419A6-97C3-4CF3-96EF-8C8951FAF7D3', datetime.datetime(2006, 8, 1, 0, 0))
(29599, 877, 'Main Office', 'DB83BCB8-214F-4B20-92C8-75D4B982A134', datetime.datetime(2006, 7, 1, 0, 0))
(29600, 797, 'Main Office', '979ABDF5-114C-4324-9B43-0E9F090A6174', datetime.datetime(2006, 9, 1, 0, 0))
(29601, 516, 'Main Office', 'A35638E6-0F87-47C0-9C72-1B65CADFAF59', datetime.datetime(2006, 8, 1, 0, 0))
(29603, 518, 'Main Office', '04A7A4FF-6708-4C08-A502-4DAEAA666D55', datetime.datetime(2007, 9, 1, 0, 0))
(29605, 1060, 'Main Office', 'A0DF5593-0A1D-4670-AF3E-FFF343EC50B3', datetime.datetime(2006, 7, 1, 0, 0))
(29606, 871, 'Main Office', '3F467555-2C79-4CB8-906F-C45DAEB8D9A6', datetime.datetime(2005, 7, 1, 0, 0))
(29608, 488, 'Main Office', '79B712ED-91C6-418C-91CB-8AF9169546E8', datetime.datetime(2007, 8, 1, 0, 0))
(29611, 862, 'Main Office', 'EA3C1ACA-7D46-4842-8A52-4A5E04DE9E13', datetime.datetime(2005, 11, 1, 0, 0))
(29612, 649, 'Main Office', '56DC2277-C288-484C-AFB3-52624182ABA6', datetime.datetime(2007, 9, 1, 0, 0))
(29614, 529, 'Main Office', '5A69E600-61EC-49FC-8CF9-40FCAABBB48C', datetime.datetime(2005, 7, 1, 0, 0))
(29615, 663, 'Main Office', 'C456F6E1-9405-4707-A039-D355ACBD0FAC', datetime.datetime(2007, 8, 1, 0, 0))
(29616, 608, 'Main Office', '6511AD85-E361-4A97-98E5-F9E49E04CE0B', datetime.datetime(2006, 8, 1, 0, 0))
(29617, 880, 'Main Office', 'D159DB17-53D1-42E0-91D8-F926AB6413E6', datetime.datetime(2005, 8, 1, 0, 0))
(29618, 658, 'Main Office', '8EE07B7F-D561-45A5-9D78-EF7D9223B535', datetime.datetime(2006, 8, 1, 0, 0))
(29620, 503, 'Main Office', 'C7A8A997-0817-42D2-A150-5785F7A4E47F', datetime.datetime(2005, 8, 1, 0, 0))
(29622, 863, 'Main Office', '347CA34C-5205-464E-83F7-BEB956DFDF7D', datetime.datetime(2005, 9, 1, 0, 0))
(29623, 1033, 'Main Office', '5BB7CC4F-58E9-447A-8012-E36AB7AE7F67', datetime.datetime(2007, 7, 1, 0, 0))
(29625, 491, 'Main Office', '72BC757F-5890-414A-948F-EF5C3EE0F5EC', datetime.datetime(2007, 9, 1, 0, 0))
(29627, 447, 'Main Office', 'E25D9B43-EDEC-4E35-AA93-B12417EF7A61', datetime.datetime(2006, 8, 1, 0, 0))
(29629, 469, 'Main Office', '9CD7B713-3133-4816-8375-3458AA5DF285', datetime.datetime(2007, 9, 1, 0, 0))
(29631, 1003, 'Main Office', '8C52E68F-6799-48B5-99D9-857FE08275FB', datetime.datetime(2007, 7, 1, 0, 0))
(29632, 843, 'Main Office', '6897A92D-B5F7-467C-8D61-F89E28D0D908', datetime.datetime(2005, 9, 1, 0, 0))
(29635, 634, 'Main Office', '194A6DF5-F0E4-484D-9113-A9FCE5961104', datetime.datetime(2006, 9, 1, 0, 0))
(29636, 1105, 'Main Office', 'A15F4F5F-A90F-4908-B8A7-9D126BE5DA1E', datetime.datetime(2006, 7, 1, 0, 0))
(29637, 559, 'Main Office', '991E29FA-E7C2-487A-BDD8-33CA4A36F61B', datetime.datetime(2005, 9, 1, 0, 0))
(29638, 989, 'Main Office', '3DB4D2FF-611F-416C-A6E4-41292B13E04B', datetime.datetime(2007, 9, 1, 0, 0))
(29639, 470, 'Main Office', '70C47450-562C-43BC-8596-ABFFDDE831FE', datetime.datetime(2005, 9, 1, 0, 0))
(29641, 1088, 'Main Office', 'ACA58BAB-7BA5-4CB5-888D-8D9204653CEB', datetime.datetime(2007, 7, 1, 0, 0))
(29643, 899, 'Main Office', '13FFDF92-458D-454C-A4DF-0E6E7A02D459', datetime.datetime(2007, 8, 1, 0, 0))
(29644, 643, 'Main Office', '8DAB6BF4-7ED7-4E97-BAFE-3CE95649E24C', datetime.datetime(2006, 9, 1, 0, 0))
(29645, 850, 'Main Office', 'D3B73C0F-674C-43CD-B134-7DBEBAE4CE71', datetime.datetime(2007, 9, 1, 0, 0))
(29646, 578, 'Main Office', '3E7CCF61-0B32-4C9F-9089-6A8EF172C755', datetime.datetime(2005, 7, 1, 0, 0))
(29649, 544, 'Main Office', '65FEDC39-AC5B-434D-886E-23E4F2A451D4', datetime.datetime(2005, 9, 1, 0, 0))
(29650, 1059, 'Main Office', '4B9A5374-FE8B-4078-B553-820D667615B5', datetime.datetime(2007, 7, 1, 0, 0))
(29651, 606, 'Main Office', '02321ECF-27E9-42D1-BCF1-F595F871637E', datetime.datetime(2005, 9, 1, 0, 0))
(29653, 1019, 'Main Office', '1D45CB08-2542-4FD1-BDAC-8994EF616BA2', datetime.datetime(2007, 9, 1, 0, 0))
(29654, 579, 'Main Office', 'F54AB81B-11AC-4F30-AB25-34FBC123F7CB', datetime.datetime(2006, 7, 1, 0, 0))
(29655, 774, 'Main Office', 'F0850212-FACF-49E3-BF75-11DC7F94FBC6', datetime.datetime(2005, 9, 1, 0, 0))
(29659, 605, 'Main Office', 'E7EFB591-07EB-4D11-AF71-796E8ED9394B', datetime.datetime(2005, 9, 1, 0, 0))
(29660, 1058, 'Main Office', '035B6B42-9FF6-444D-8E99-05052EDBB5A4', datetime.datetime(2007, 9, 1, 0, 0))
(29662, 1013, 'Main Office', 'ACF1AEBD-75BF-4969-98EF-BE0D13C9E6EE', datetime.datetime(2006, 8, 1, 0, 0))
(29663, 575, 'Main Office', '4821E5CB-21A0-453E-8862-64964817EB4C', datetime.datetime(2006, 9, 1, 0, 0))
(29666, 468, 'Main Office', '18FA01B8-E614-4B12-BB6D-97074DD84A95', datetime.datetime(2007, 8, 1, 0, 0))
(29668, 573, 'Main Office', '779CEF11-027C-4921-9F5B-6537A571C4AA', datetime.datetime(2005, 11, 1, 0, 0))
(29671, 465, 'Main Office', '79D1D469-4B2E-4D34-BC80-4192F8460475', datetime.datetime(2007, 7, 1, 0, 0))
(29673, 1007, 'Main Office', 'B9B287C6-DC4D-460F-A332-CBCF58899220', datetime.datetime(2005, 9, 1, 0, 0))
(29674, 571, 'Main Office', 'CB83564E-FAA7-4F31-A5E2-333BAFDEC072', datetime.datetime(2005, 12, 1, 0, 0))
(29677, 461, 'Main Office', '1B90B381-1C88-4B48-9C8C-E13810F1E20D', datetime.datetime(2006, 8, 1, 0, 0))
(29680, 509, 'Main Office', '55A31949-E55B-47EE-B11F-410560C489EF', datetime.datetime(2005, 8, 1, 0, 0))
(29682, 1051, 'Main Office', 'A59C8221-1327-40E5-BC07-D3204B58EF3C', datetime.datetime(2005, 10, 1, 0, 0))
(29683, 875, 'Main Office', 'E7B2FA46-3587-4A40-A056-2916C36D82E4', datetime.datetime(2006, 7, 1, 0, 0))
(29684, 795, 'Main Office', '198623D4-F744-4D75-864B-E270D9558CE5', datetime.datetime(2006, 8, 1, 0, 0))
(29686, 1048, 'Main Office', '6A66126B-66E9-44D5-A065-F7A56318EAB4', datetime.datetime(2005, 9, 1, 0, 0))
(29688, 785, 'Main Office', 'E7A369CF-65BF-4726-AE8D-DD158061D34D', datetime.datetime(2005, 8, 1, 0, 0))
(29689, 865, 'Main Office', 'D73C6FF6-27C7-414B-BBCB-C443F6C351FF', datetime.datetime(2006, 7, 1, 0, 0))
(29690, 1036, 'Main Office', 'C2213F36-134B-4872-AEC0-2F5EC24F7BCA', datetime.datetime(2005, 9, 1, 0, 0))
(29692, 494, 'Main Office', '608A0E4D-16EB-495E-ACDC-B2882FF708B6', datetime.datetime(2006, 7, 1, 0, 0))
(29695, 867, 'Main Office', '0E4F9089-87EA-4EFB-B7D4-39D32324556E', datetime.datetime(2007, 9, 1, 0, 0))
(29696, 1039, 'Main Office', 'AEB69976-7375-4C24-B433-952FE6985667', datetime.datetime(2006, 9, 1, 0, 0))
(29698, 497, 'Main Office', '92E554A6-6ACC-41B1-9992-636E10ABFC5C', datetime.datetime(2005, 8, 1, 0, 0))
(29699, 456, 'Main Office', 'FF640E5B-57F6-496B-98DA-EB21CB137F55', datetime.datetime(2006, 8, 1, 0, 0))
(29702, 567, 'Main Office', 'F3D6E431-8D52-4A2D-9917-B7702DB40079', datetime.datetime(2005, 9, 1, 0, 0))
(29703, 1001, 'Main Office', '69F1DA2A-2E86-4C99-973B-D2AD7836FB92', datetime.datetime(2005, 8, 1, 0, 0))
(29705, 459, 'Main Office', 'A928FD77-9387-468B-AA0C-48F2C58E6949', datetime.datetime(2005, 8, 1, 0, 0))
(29708, 569, 'Main Office', '90252818-11C0-4C9A-A28C-2B18594C41F8', datetime.datetime(2005, 9, 1, 0, 0))
(29709, 906, 'Main Office', 'E0E6F2B7-22B1-4C22-A127-E95CD2D1C2CF', datetime.datetime(2006, 9, 1, 0, 0))
(29710, 1017, 'Main Office', '2E3C3C77-3AA1-4F44-B994-C453705588B5', datetime.datetime(2005, 9, 1, 0, 0))
(29711, 472, 'Main Office', '45EA76B8-301A-486A-863A-C69A9E166360', datetime.datetime(2005, 9, 1, 0, 0))
(29713, 644, 'Main Office', 'AD437E81-FC8C-48EC-BD9A-0358EB2BAF2C', datetime.datetime(2007, 8, 1, 0, 0))
(29714, 473, 'Main Office', '97164CFC-253E-4432-9E60-E197747E2286', datetime.datetime(2005, 9, 1, 0, 0))
(29716, 1015, 'Main Office', '409C560A-726B-4CA0-B714-DE3D4F69C4C6', datetime.datetime(2005, 8, 1, 0, 0))
(29717, 851, 'Main Office', '9143049E-98F6-4D35-AD3E-60621F9AE3B0', datetime.datetime(2005, 8, 1, 0, 0))
(29719, 905, 'Main Office', 'EF32D844-0DBB-40EC-9C1E-F2BD53BDBFC2', datetime.datetime(2006, 11, 1, 0, 0))
(29720, 1100, 'Main Office', '56859A58-3017-4F7D-A038-E5305480854A', datetime.datetime(2007, 9, 1, 0, 0))
(29722, 555, 'Main Office', '75797172-08EA-4266-B784-813B999668C7', datetime.datetime(2005, 9, 1, 0, 0))
(29727, 907, 'Main Office', 'E8465F39-2991-47FA-A0A7-F5A02AEB7AD7', datetime.datetime(2007, 8, 1, 0, 0))
(29728, 1103, 'Main Office', '5032D0C5-1DE7-4CDA-A996-1AEBAFE04A21', datetime.datetime(2005, 11, 1, 0, 0))
(29730, 558, 'Main Office', 'AD2B1030-CA3E-450A-BAB8-95755F585D84', datetime.datetime(2006, 12, 1, 0, 0))
(29732, 607, 'Main Office', '5D353D79-AB12-4564-9E32-A5DE8839E13F', datetime.datetime(2006, 8, 1, 0, 0))
(29733, 1062, 'Main Office', 'D76D2243-F3C1-46B4-B329-4781414438CC', datetime.datetime(2005, 9, 1, 0, 0))
(29734, 517, 'Main Office', 'ABDAAE4A-7F6D-4192-A162-495646CDA3CB', datetime.datetime(2005, 7, 1, 0, 0))
(29736, 659, 'Main Office', 'DDEABA1E-F394-4009-AF19-C9D4087C40FB', datetime.datetime(2007, 9, 1, 0, 0))
(29737, 882, 'Main Office', '5E4D3150-8581-4E81-ADD8-2F5CF9687FEC', datetime.datetime(2007, 7, 1, 0, 0))
(29738, 610, 'Main Office', '6360A3D7-3B1B-415C-B743-0098C6B55227', datetime.datetime(2007, 9, 1, 0, 0))
(29739, 1065, 'Main Office', '96592FA0-46C5-4E3D-A7E7-E376C0D8E521', datetime.datetime(2006, 9, 1, 0, 0))
(29740, 520, 'Main Office', 'B76A7FB2-C021-4DDF-85FE-92639A1F2BB2', datetime.datetime(2005, 9, 1, 0, 0))
(29741, 660, 'Main Office', '14E7D304-258E-4265-AA7D-BE8E82830FDB', datetime.datetime(2007, 9, 1, 0, 0))
(29742, 884, 'Main Office', '7F519F4B-C3B4-4D2A-8DAA-ECDB706B5082', datetime.datetime(2005, 8, 1, 0, 0))
(29743, 612, 'Main Office', '77375C95-A17C-411F-B4E9-4937F6BC5F33', datetime.datetime(2006, 9, 1, 0, 0))
(29744, 1068, 'Main Office', 'FE1D120B-985B-46E0-8ED4-41ECD0ADB376', datetime.datetime(2006, 7, 1, 0, 0))
(29747, 895, 'Main Office', 'ED778965-8FD3-407C-9267-440A6C9E5F3D', datetime.datetime(2005, 7, 1, 0, 0))
(29748, 1085, 'Main Office', '4C6F57D7-E418-4073-A8C3-2D1CA6913D8A', datetime.datetime(2005, 9, 1, 0, 0))
(29750, 543, 'Main Office', 'F1E75C2E-B9F5-459E-ACEC-719F396DE128', datetime.datetime(2006, 9, 1, 0, 0))
(29753, 897, 'Main Office', 'EBA170BF-74E0-4C19-BBF4-982F75D5988F', datetime.datetime(2006, 8, 1, 0, 0))
(29755, 528, 'Main Office', '27DAAFD3-3D17-43E9-8038-60B4D4DDF188', datetime.datetime(2005, 9, 1, 0, 0))
(29757, 1070, 'Main Office', 'D78221A5-548E-470E-B7DE-8D34BB2D0A27', datetime.datetime(2005, 8, 1, 0, 0))
(29758, 613, 'Main Office', '90B488AC-55AA-4010-A0C7-2A4B41AD206A', datetime.datetime(2006, 9, 1, 0, 0))
(29761, 525, 'Main Office', '289F00E7-70C9-4F2E-9963-37CCED7EA231', datetime.datetime(2005, 7, 1, 0, 0))
(29763, 1067, 'Main Office', 'FAB51B08-D380-4E58-97AD-B8763273597A', datetime.datetime(2006, 9, 1, 0, 0))
(29764, 611, 'Main Office', '8C24DD38-FEF1-41B8-BD2B-8B94984F468C', datetime.datetime(2005, 8, 1, 0, 0))
(29765, 806, 'Main Office', '3C5778FE-2189-4E99-84B5-385CA4CDFB27', datetime.datetime(2006, 8, 1, 0, 0))
(29766, 522, 'Main Office', '3DF9AFB4-CCE1-4E5B-87B4-01AC35D30607', datetime.datetime(2007, 2, 1, 0, 0))
(29768, 1064, 'Main Office', '16161C9F-FDE0-43F5-9B89-E04C7DC7BF98', datetime.datetime(2006, 1, 1, 0, 0))
(29769, 609, 'Main Office', 'E217DC84-A4C8-4758-802C-714782491796', datetime.datetime(2005, 9, 1, 0, 0))
(29770, 445, 'Main Office', '40E68361-485D-45F4-B18C-282D13F4552E', datetime.datetime(2006, 9, 1, 0, 0))
(29771, 990, 'Main Office', '33E5EB41-F032-42E1-AB6F-3386454B4543', datetime.datetime(2006, 7, 1, 0, 0))
(29772, 560, 'Main Office', 'BF40660E-40B6-495B-99D0-753CE987B1D1', datetime.datetime(2006, 7, 1, 0, 0))
(29772, 11380, 'Shipping', '7C6297BE-EA24-433F-A038-50E082D341B8', datetime.datetime(2006, 7, 1, 0, 0))
(29773, 832, 'Main Office', '314F2574-1F75-457F-9BD1-74D1CE53DAA5', datetime.datetime(2005, 8, 1, 0, 0))
(29774, 564, 'Main Office', '61D28A67-48A3-4F21-A56B-478D15EE3593', datetime.datetime(2005, 8, 1, 0, 0))
(29775, 836, 'Main Office', 'DFDB2561-A36F-4F3C-AE89-5A62DFC80AA2', datetime.datetime(2006, 9, 1, 0, 0))
(29776, 636, 'Main Office', '079741E4-908A-442C-B804-945DBACF3B1E', datetime.datetime(2007, 7, 1, 0, 0))
(29778, 650, 'Main Office', '8AD5E768-9078-44C2-A6EF-5C43D018B618', datetime.datetime(2006, 7, 1, 0, 0))
(29780, 490, 'Main Office', '21B47EC3-1D65-4C2D-9E8D-088852776795', datetime.datetime(2006, 8, 1, 0, 0))
(29781, 1035, 'Main Office', '7907B148-D4F2-48B7-8D9C-122B8C09CBB8', datetime.datetime(2006, 9, 1, 0, 0))
(29782, 590, 'Main Office', '96F0286B-48FF-45E9-8B3B-3ADE877E8896', datetime.datetime(2006, 7, 1, 0, 0))
(29783, 1075, 'Main Office', '23C7CBFA-D379-4D31-A50A-41390F428850', datetime.datetime(2006, 7, 1, 0, 0))

In [74]:
sql_query = 'SELECT * FROM SalesLT.SalesOrderDetail'
df = pd.read_sql_query(sql_query, conn)
print("--- HEAD del DataFrame ---")
print(df.head(0))

--- HEAD del DataFrame ---
Empty DataFrame
Columns: [SalesOrderID, SalesOrderDetailID, OrderQty, ProductID, UnitPrice, UnitPriceDiscount, LineTotal, rowguid, ModifiedDate]
Index: []

/tmp/ipython-input-2167117675.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

In [76]:
sql_query = 'SELECT * FROM SalesLT.SalesOrderHeader'
df = pd.read_sql_query(sql_query, conn)
print("--- HEAD del DataFrame ---")
print(df.head(0))

--- HEAD del DataFrame ---
Empty DataFrame
Columns: [SalesOrderID, RevisionNumber, OrderDate, DueDate, ShipDate, Status, OnlineOrderFlag, SalesOrderNumber, PurchaseOrderNumber, AccountNumber, CustomerID, ShipToAddressID, BillToAddressID, ShipMethod, CreditCardApprovalCode, SubTotal, TaxAmt, Freight, TotalDue, Comment, rowguid, ModifiedDate]
Index: []

[0 rows x 22 columns]

/tmp/ipython-input-2274325651.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

Ejercicios

1. Lista ProductID, Name, ListPrice de SalesLT.Product
(SELECT)

In [ ]:
Ejercicio1 = pd.read_sql_query("""
    SELECT ProductID, Name,ListPrice
    FROM SalesLT.Product
    """, conn)
Ejercicio1

/tmp/ipython-input-3289261316.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Ejercicio1 = pd.read_sql_query("""

     ProductID                       Name  ListPrice
0          680  HL Road Frame - Black, 58    1431.50
1          706    HL Road Frame - Red, 58    1431.50
2          707      Sport-100 Helmet, Red      34.99
3          708    Sport-100 Helmet, Black      34.99
4          709     Mountain Bike Socks, M       9.50
..         ...                        ...        ...
290        995          ML Bottom Bracket     101.24
291        996          HL Bottom Bracket     121.49
292        997         Road-750 Black, 44     539.99
293        998         Road-750 Black, 48     539.99
294        999         Road-750 Black, 52     539.99

[295 rows x 3 columns]

2. Devuelve productos con ListPrice > 1000 mostrando ProductNumber, Name, ListPrice.

In [ ]:
Ejercicio2 = pd.read_sql_query("""
    SELECT ProductNumber, Name,ListPrice
    FROM SalesLT.Product
    WHERE ListPrice >1000
    """, conn)
Ejercicio2

/tmp/ipython-input-2032446168.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Ejercicio2 = pd.read_sql_query("""

   ProductNumber                       Name  ListPrice
0     FR-R92B-58  HL Road Frame - Black, 58    1431.50
1     FR-R92R-58    HL Road Frame - Red, 58    1431.50
2     FR-R92R-62    HL Road Frame - Red, 62    1431.50
3     FR-R92R-44    HL Road Frame - Red, 44    1431.50
4     FR-R92R-48    HL Road Frame - Red, 48    1431.50
..           ...                        ...        ...
81    BK-T44U-54      Touring-2000 Blue, 54    1214.85
82    BK-R79Y-40      Road-350-W Yellow, 40    1700.99
83    BK-R79Y-42      Road-350-W Yellow, 42    1700.99
84    BK-R79Y-44      Road-350-W Yellow, 44    1700.99
85    BK-R79Y-48      Road-350-W Yellow, 48    1700.99

[86 rows x 3 columns]

3. Muestra el TOP 5 productos más caros con ProductID, Name, ListPrice.

In [ ]:
N = 5

Ejercicio3 = pd.read_sql_query(f"""
    SELECT TOP ({N}) ProductID, ProductNumber, Name, ListPrice
    FROM SalesLT.Product
    ORDER BY ListPrice DESC
    """, conn)
Ejercicio3

/tmp/ipython-input-330261009.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Ejercicio3 = pd.read_sql_query(f"""

   ProductID ProductNumber              Name  ListPrice
0        749    BK-R93R-62  Road-150 Red, 62    3578.27
1        750    BK-R93R-44  Road-150 Red, 44    3578.27
2        751    BK-R93R-48  Road-150 Red, 48    3578.27
3        752    BK-R93R-52  Road-150 Red, 52    3578.27
4        753    BK-R93R-56  Road-150 Red, 56    3578.27

4. Lista ProductID, p.Name AS ProductName, c.Name AS CategoryName para productos con categoría
(INNER JOIN).

In [ ]:

Ejercicio4 = pd.read_sql_query(f"""
    SELECT
        p.ProductID,
        p.Name AS ProductName,
        c.Name AS CategoryName
    FROM SalesLT.Product AS p
    INNER JOIN SalesLT.ProductCategory AS c ON p.ProductCategoryID = c.ProductCategoryID;
    """, conn)
Ejercicio4

/tmp/ipython-input-2822110972.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Ejercicio4 = pd.read_sql_query(f"""

     ProductID              ProductName     CategoryName
0          771  Mountain-100 Silver, 38   Mountain Bikes
1          772  Mountain-100 Silver, 42   Mountain Bikes
2          773  Mountain-100 Silver, 44   Mountain Bikes
3          774  Mountain-100 Silver, 48   Mountain Bikes
4          775   Mountain-100 Black, 38   Mountain Bikes
..         ...                      ...              ...
290        930         HL Mountain Tire  Tires and Tubes
291        931             LL Road Tire  Tires and Tubes
292        932             ML Road Tire  Tires and Tubes
293        933             HL Road Tire  Tires and Tubes
294        934             Touring Tire  Tires and Tubes

[295 rows x 3 columns]

5. Obtén pedidos del año 2008 en adelante (o el año que aplique en tu base) con SalesOrderID, OrderDate, CustomerID, TotalDue y el nombre del cliente (FirstName + ' ' + LastName).
(JOIN + WHERE)

In [ ]:
Ejercicio5 = pd.read_sql_query(f"""
    SELECT
        c.CustomerID,
        c.FirstName,
        c.LastName,
        p.SalesOrderID,
        p.OrderDate,
        p.TotalDue
    FROM  SalesLT.Customer AS c
    INNER JOIN SalesLT.SalesOrderHeader AS p ON p.CustomerID = c.CustomerID
    WHERE p.OrderDate >= '2008-01-01'
    """, conn)
Ejercicio5

/tmp/ipython-input-2888342314.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Ejercicio5 = pd.read_sql_query(f"""

,CustomerID,FirstName,LastName,SalesOrderID,OrderDate,TotalDue
0,29485,Catherine,Abel,71782,2008-06-01,43962.7901
1,29531,Cory,Booth,71935,2008-06-01,7330.8972
2,29546,Christopher,Beck,71938,2008-06-01,98138.2131
3,29568,Donald,Blanton,71899,2008-06-01,2669.3183
4,29584,Walter,Brian,71895,2008-06-01,272.6468
5,29612,Richard,Byham,71885,2008-06-01,608.1766
6,29638,Rosmarie,Carroll,71915,2008-06-01,2361.6403
7,29644,Brigid,Cavendish,71867,2008-06-01,1170.5376
8,29653,Pei,Chow,71858,2008-06-01,15275.1977
9,29660,Anthony,Chor,71796,2008-06-01,63686.2708
10,29736,Terry,Eminhizer,71784,2008-06-01,119960.8240
11,29741,Janeth,Esteves,71946,2008-06-01,43.0437
12,29781,Guy,Gilbert,71923,2008-06-01,117.7276
13,29796,Jon,Grande,71797,2008-06-01,86222.8072
14,29847,David,Hodgson,71774,2008-06-01,972.7850
15,29877,Joyce,Jarvis,71897,2008-06-01,14017.9083
16,29922,Pamala,Kotc,71832,2008-06-01,39531.6085
17,29929,Jeffrey,Kurtz,71902,2008-06-01,81834.9826
18,29932,Rebecca,Laszlo,71898,2008-06-01,70698.9922
19,29938,Frank,Campbell,71845,2008-06-01,45992.3665
20,29957,Kevin,Liu,71783,2008-06-01,92663.5609
21,29975,Walter,Mays,71863,2008-06-01,3673.3249
22,29982,Melissa,Marple,71920,2008-06-01,3293.7761
23,30019,Matthew,Miller,71831,2008-06-01,2228.0566
24,30025,Linda,Mitchell,71917,2008-06-01,45.1995
25,30027,Joseph,Mitzner,71816,2008-06-01,3754.9733
26,30033,Vassar,Stern,71856,2008-06-01,665.4251
27,30050,Krishna,Sunkammurali,71936,2008-06-01,108597.9536
28,30072,Andrea,Thomsen,71776,2008-06-01,87.0851
29,30089,Michael John,Troyer,71815,2008-06-01,1261.4440
30,30102,Roger,Van Houten,71846,2008-06-01,2711.4098
31,30113,Raja,Venugopal,71780,2008-06-01,42452.6519

6. Para cada ProductID, suma la cantidad vendida (SUM(OrderQty)). Devuelve solo productos con ventas totales > 1000, ordenados de manera descendente.
Usa GROUP BY, HAVING y ORDER BY

In [ ]:
Ejercicio6 = pd.read_sql_query(f"""
    SELECT
        ProductID,
        ROUND(SUM(LineTotal),1) AS Vta_Total,
        SUM(OrderQty) AS Cantidad
    FROM  SalesLT.SalesOrderDetail
    GROUP BY ProductID
    HAVING SUM(LineTotal) > 1000
    ORDER BY Vta_Total DESC
    """, conn)
Ejercicio6

/tmp/ipython-input-2599618629.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Ejercicio6 = pd.read_sql_query(f"""

    ProductID  Vta_Total  Cantidad
0         969    37191.5        26
1         783    37178.8        27
2         976    36486.2        42
3         782    35801.8        26
4         957    23413.5        17
..        ...        ...       ...
85        869     1133.8        27
86        996     1093.4        15
87        949     1052.9        10
88        708     1032.0        51
89        881     1004.2        31

[90 rows x 3 columns]

7. Productos sin ventas: lista productos que no aparecen en SalesLT.SalesOrderDetail.
Usa LEFT JOIN + WHERE

In [49]:
Ejercicio7 = pd.read_sql_query(f"""
    SELECT
        p.ProductID,
        c.name
    FROM  SalesLT.Product AS c
    LEFT JOIN SalesLT.SalesOrderDetail AS p ON p.ProductID = c.ProductID
    WHERE p.ProductID IS NULL
    """, conn)
Ejercicio7

/tmp/ipython-input-879113052.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Ejercicio5 = pd.read_sql_query(f"""

    ProductID                     name
0        None   All-Purpose Bike Stand
1        None               Cable Lock
2        None          Classic Vest, L
3        None    Fender Set - Mountain
4        None    Full-Finger Gloves, L
..        ...                      ...
148      None        Touring Tire Tube
149      None  Touring-Panniers, Large
150      None        Women's Tights, L
151      None        Women's Tights, M
152      None        Women's Tights, S

[153 rows x 2 columns]

8. Clientes por país: total de clientes por CountryRegion (usa Address + CustomerAddress).
Podrias necesitar: COUNT(DISTINCT CustomerID).

In [72]:
Ejercicio8 = pd.read_sql_query(f"""
    SELECT
        p.StateProvince,
        COUNT(DISTINCT c.CustomerID) AS TotalClientes
    FROM SalesLT.CustomerAddress AS c
    LEFT JOIN
        SalesLT.Address AS p ON p.AddressID = c.AddressID
    GROUP BY p.StateProvince
    ORDER BY TotalClientes DESC
    """, conn)
Ejercicio8

/tmp/ipython-input-2274857244.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Ejercicio8 = pd.read_sql_query(f"""

       StateProvince  TotalClientes
0         California             65
1            Ontario             51
2         Washington             44
3            England             38
4              Texas             35
5             Quebec             23
6             Oregon             17
7   British Columbia             17
8           Michigan             16
9           Illinois             14
10           Alberta             13
11           Arizona             12
12          Missouri             11
13              Utah              9
14          Colorado              8
15            Nevada              7
16         Minnesota              6
17         Wisconsin              4
18           Wyoming              4
19        New Mexico              3
20           Montana              3
21             Idaho              3
22      South Dakota              2
23         Brunswick              1
24          Manitoba              1

9. Ticket promedio por año: AVG(TotalDue) por YEAR(OrderDate).

In [86]:
Ejercicio9 = pd.read_sql_query(f"""
    SELECT
        p.OrderDate,
        ROUND(AVG(p.TotalDue),1) AS Ticket_promedio
    FROM  SalesLT.SalesOrderDetail AS c
    INNER JOIN SalesLT.SalesOrderHeader AS p ON p.SalesOrderID = c.SalesOrderID
    GROUP BY p.OrderDate
    """, conn)
Ejercicio9

/tmp/ipython-input-3961173597.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Ejercicio9 = pd.read_sql_query(f"""

   OrderDate  Ticket_promedio
0 2008-06-01          66151.9